* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  color: #83888f;
}
.card1 {
  background-image: url(../img/cofee.png);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1400px 800px;
  margin-left: 1000px;
}
.card2 {
  left: 0%;
  right: 0.21%;
  top: calc(50% - 72px / 2 - 55px);

  font-family: "Fraunces 9pt";
  font-style: normal;
  color: #fefcf7;
}
img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

section {
  padding: 5rem 0;
}

section h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  width: 550px;
  margin: 2rem auto 5rem;
}

section h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 5px;
}

section p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
}

/* reset end */

/* utils */

.container {
  width: 1400px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.portion {
  flex: 1;
}

.btn {
  all: unset;
  background-color: var(--asosiy-rang);
  color: #fff;
  display: inline-block;
  padding: 0.8em 1.8em;
  border-radius: 10px;
  text-transform: capitalize;
}

/* utils end */

/* header#main-header */

header#main-header {
  background-color: #fff;
  padding: 1.5rem 0;
}

header#main-header .logo {
  font-size: 24px;
  font-weight: 700;
}

header#main-header ul {
  font-size: 1rem;
  font-weight: 500;
  gap: 1.5rem;
}

/* header#main-header end */

/* section#showcase */

section#showcase {
  background-color: #fff;
}

section#showcase h1 {
  font-size: 60px;
  font-weight: 700;
}

section#showcase p {
  font-size: 1rem;
  font-weight: 400;
  width: 386px;
  line-height: 1.8;
  margin: 1rem 0;
}

/* section#showcase end */

/* section#features */
section#features {
  background-color: var(--asosiy-rang);
  color: #fff;
}

section#features span.icon-wrapper {
  background-color: var(--och-kok);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

section#features h2 {
  width: 500px;
}

section#features h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 3rem 0 1rem;
}

section#features .container.flex {
  gap: 3rem;
}

/* section#features end */

/* section#testimonials */

section#testimonials {
  background-color: var(--seriy);
}

section#testimonials .container.flex {
  gap: 2rem;
}

section#testimonials article.card {
  background-color: #fff;
  margin-bottom: 2rem;
  padding: 1.5rem;
}

section#testimonials article.card .profile-image {
  width: 50px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

section#testimonials article.card h5 {
  font-size: 1rem;
  font-weight: 500;
}

section#testimonials article.card img:not(.profile-image) {
  width: 16px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

/* section#testimonials end */
